*{
    margin: 0;
    padding: 0
}
nav {
    background-color: black;
    height: 50px;
    color: aliceblue;
    display: flex;
    align-items: center;
}
nav > a {
    margin-right: 10px;
    color:#e9ecef;
    text-decoration: none;
}
nav >p {
    margin: 0;
    margin-right: 10px;
    color: rgb(173, 51, 51);
}
body {
    background-color: #e9ecef;
}